body {
  background-color: darkgrey;
}

#content {
  display: none;
  width: 800px;
  background-color: white;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  box-sizing: border-box;
}

#contact i {
  width: 25px;
}

#contact h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.job,
.school {
  margin-bottom: 24px;
}

.institute,
.role {
  border-bottom: 1px solid #9a9a9a;
  font-weight: bold;
}

.role i,
.employer i,
.institute i,
.location i {
  width: 20px;
}

.employer {
  /* position: relative; */
  margin: 0 0 10px 0;
}

.fromto {
  position: absolute;
  right: 0;
}

section {
  /* outline: 1px solid rgb(255, 132, 153); */
  position: relative;
}

section>h2 {
  text-transform: uppercase;
}

section>h2 i {
  margin-right: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills span {
  /* background-color: rgba(124, 187, 0, 0.20); */
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: small;
  border: 1px solid black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* #linkedin::before {
  content: "https://www.linkedin.com/in/";
} */

@media print {
  .job {
    page-break-inside: avoid;
  }
}